<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">

    <a class="navbar-brand" href="#" style="position: relative;">Universal Box</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
          <a class="nav-link" routerLink="/config">Configuración</a>
          <a class="nav-link" routerLink="/busqueda">Búsqueda</a>
          <a class="nav-link" routerLink="/subida">Subir Excel</a>
          <!-- <a class="nav-link" (click)="logout()">Cerrar sesión</a> -->
      </ul>
    </div>
  </div>
</nav>
